<html>
  <head>
    <link rel="stylesheet" href="global.css" />
  </head>
  <body class="settings-container">
    <h1>Lock In Settings</h1>
    <p>Configure how you would like to lock in.</p>
    <label for="urlList">Enter domains to block:</label>
    <textarea
      id="url-list"
      placeholder="facebook.com&#10;reddit.com&#10;pornhub.com"
    ></textarea>
    <div class="button-group">
      <button id="save-btn">Save</button>
      <button id="clear-btn">Clear</button>
    </div>
    <div id="info"></div>
  </body>
  <script src="../dist/settings.js"></script>
</html>
